DataSet: ****ATIS Airline Travel Information System****

[https://www.kaggle.com/datasets/hassanamin/atis-airlinetravelinformationsystem](https://www.kaggle.com/datasets/hassanamin/atis-airlinetravelinformationsystem)

In [ ]:
import pandas as pd
import numpy as np
np.random.seed(0)

In [ ]:
data = pd.read_csv("/content/atis_intents.csv",header=None)
data

                     0                                                  1
0          atis_flight   i want to fly from boston at 838 am and arriv...
1          atis_flight   what flights are available from pittsburgh to...
2     atis_flight_time   what is the arrival time in san francisco for...
3         atis_airfare            cheapest airfare from tacoma to orlando
4         atis_airfare   round trip fares from pittsburgh to philadelp...
...                ...                                                ...
4973      atis_airfare   what is the airfare for flights from denver t...
4974       atis_flight   do you have any flights from denver to baltim...
4975      atis_airline          which airlines fly into and out of denver
4976       atis_flight   does continental fly from boston to san franc...
4977       atis_flight   is there a delta flight from denver to san fr...

[4978 rows x 2 columns]

In [ ]:
data.columns = ['intent','text']

In [ ]:
data['intent'].unique()

array(['atis_flight', 'atis_flight_time', 'atis_airfare', 'atis_aircraft',
       'atis_ground_service', 'atis_airport', 'atis_airline',
       'atis_distance', 'atis_abbreviation', 'atis_ground_fare',
       'atis_quantity', 'atis_city', 'atis_flight_no', 'atis_capacity',
       'atis_flight#atis_airfare', 'atis_meal', 'atis_restriction',
       'atis_airline#atis_flight_no',
       'atis_ground_service#atis_ground_fare',
       'atis_airfare#atis_flight_time', 'atis_cheapest',
       'atis_aircraft#atis_flight#atis_flight_no'], dtype=object)

In [ ]:
data['intent'].nunique()

22

In [ ]:
data['intent'] = data['intent'].str.replace('#','_')
data['intent'].unique()

array(['atis_flight', 'atis_flight_time', 'atis_airfare', 'atis_aircraft',
       'atis_ground_service', 'atis_airport', 'atis_airline',
       'atis_distance', 'atis_abbreviation', 'atis_ground_fare',
       'atis_quantity', 'atis_city', 'atis_flight_no', 'atis_capacity',
       'atis_flight_atis_airfare', 'atis_meal', 'atis_restriction',
       'atis_airline_atis_flight_no',
       'atis_ground_service_atis_ground_fare',
       'atis_airfare_atis_flight_time', 'atis_cheapest',
       'atis_aircraft_atis_flight_atis_flight_no'], dtype=object)

In [ ]:
data['intent'] = data['intent'].str.replace('atis_','')
data['intent'].unique()

array(['flight', 'flight_time', 'airfare', 'aircraft', 'ground_service',
       'airport', 'airline', 'distance', 'abbreviation', 'ground_fare',
       'quantity', 'city', 'flight_no', 'capacity', 'flight_airfare',
       'meal', 'restriction', 'airline_flight_no',
       'ground_service_ground_fare', 'airfare_flight_time', 'cheapest',
       'aircraft_flight_flight_no'], dtype=object)

In [ ]:
data['intent'].value_counts()

flight                        3666
airfare                        423
ground_service                 255
airline                        157
abbreviation                   147
aircraft                        81
flight_time                     54
quantity                        51
flight_airfare                  21
airport                         20
distance                        20
city                            19
ground_fare                     18
capacity                        16
flight_no                       12
meal                             6
restriction                      6
airline_flight_no                2
ground_service_ground_fare       1
airfare_flight_time              1
cheapest                         1
aircraft_flight_flight_no        1
Name: intent, dtype: int64

In [ ]:
labels = ['flight','ground_service','airfare','abbreviation','flight_time']

In [ ]:
data = data[data["intent"].isin(labels)]
data['intent'].value_counts()

flight            3666
airfare            423
ground_service     255
abbreviation       147
flight_time         54
Name: intent, dtype: int64

In [ ]:
sample_data = data.groupby('intent').apply(lambda x: x.sample(n=40)).reset_index(drop = True)
sample_data.intent.value_counts()

abbreviation      40
airfare           40
flight            40
flight_time       40
ground_service    40
Name: intent, dtype: int64

In [ ]:
sample_data.to_csv("sample_data.csv",index=False)

In [ ]:
sample_data = sample_data[['text','intent']]

In [ ]:

sample_data.head()

                                         text        intent
0                     what does mco stand for  abbreviation
1          what does the abbreviation co mean  abbreviation
2                                  what is hp  abbreviation
3   is fare code b the same as business class  abbreviation
4                          what does ewr mean  abbreviation

In [ ]:
sample_data['text'] = sample_data['text'].str.strip()
sample_data['intent'] = sample_data['intent'].str.strip()

In [ ]:
sample_data['text'] = sample_data['text'] + "\n\nIntent:\n\n"
# sample_data['text'] = "Classify text into on the intent: flight, ground_service, airline, aircraft, flight_time. Text: "+sample_data['text'] + "\n\nIntent:\n\n"
sample_data['intent'] = " "+sample_data['intent'] + " END"
sample_data.head()

                                                text             intent
0             what does mco stand for\n\nIntent:\n\n   abbreviation END
1  what does the abbreviation co mean\n\nIntent:\n\n   abbreviation END
2                          what is hp\n\nIntent:\n\n   abbreviation END
3  is fare code b the same as business class\n\nI...   abbreviation END
4                  what does ewr mean\n\nIntent:\n\n   abbreviation END

In [ ]:
print(sample_data['text'][0])

what does mco stand for

Intent:

In [ ]:
print(sample_data['intent'][0])

 abbreviation END

In [ ]:
sample_data.columns = ['prompt','completion']

In [ ]:
sample_data.to_json("intent_sample.jsonl", orient='records', lines=True)

In [ ]:
# sample_data.to_json("intent_.json", orient='records')

In [ ]:
!pip install --upgrade openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.27.2-py3-none-any.whl (70 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 70.1/70.1 KB 2.8 MB/s eta 0:00:00
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from openai) (4.65.0)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.9/dist-packages (from openai) (2.27.1)
Collecting aiohttp
  Downloading aiohttp-3.8.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.0/1.0 MB 20.8 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (2022.12.7)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 114.2/114.2 KB 12.2 MB/s eta 0:00:00
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (158 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 158.8/158.8 KB 17.3 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.8.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (264 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 264.6/264.6 KB 24.6 MB/s eta 0:00:00
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->openai) (22.2.0)
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.2 yarl-1.8.2

In [ ]:
!openai tools fine_tunes.prepare_data -f intent_sample.jsonl

Analyzing...

- Your file contains 200 prompt-completion pairs
- Based on your data it seems like you're trying to fine-tune a model for classification
- For classification, we recommend you try one of the faster and cheaper models, such as `ada`
- For classification, you can estimate the expected model performance by keeping a held out dataset, which is not used for training
- There are 7 duplicated prompt-completion sets. These are rows: [7, 11, 12, 26, 29, 32, 140]
- All prompts end with suffix `\n\nIntent:\n\n`. This suffix seems very long. Consider replacing with a shorter suffix, such as `\n\n###\n\n`

Based on the analysis we will perform the following actions:
- [Recommended] Remove 7 duplicate rows [Y/n]: y
- [Recommended] Would you like to split into training and validation set? [Y/n]: n


Your data will be written to a new JSONL file. Proceed [Y/n]: y

Wrote modified file to `intent_sample_prepared (1).jsonl`
Feel free to take a look!

Now use that file when fine-tuning:
> openai api fine_tunes.create -t "intent_sample_prepared (1).jsonl"

After you‚Äôve fine-tuned a model, remember that your prompt has to end with the indicator string `\n\nIntent:\n\n` for the model to start generating completions, rather than continuing with the prompt. Make sure to include `stop=[" END"]` so that the generated texts ends at the expected place.
Once your model starts training, it'll approximately take 6.97 minutes to train a `curie` model, and less for `ada` and `babbage`. Queue will approximately take half an hour per job ahead of you.

In [ ]:
import os
os.environ['OPENAI_API_KEY'] = ""

In [ ]:
!openai api fine_tunes.create -t "intent_sample_prepared.jsonl" -m 'davinci'

Upload progress: 100% 23.1k/23.1k [00:00<00:00, 23.1Mit/s]
Uploaded file from intent_sample_prepared.jsonl: file-shR8EMrbyPDUb8p9LglPK3Oa
Created fine-tune: ft-4JQecVCnUFN2jnmVe4pAjHbq
Streaming events until fine-tuning is complete...

(Ctrl-C will interrupt the stream, but not cancel the fine-tune)
[2023-04-03 16:35:37] Created fine-tune: ft-4JQecVCnUFN2jnmVe4pAjHbq

Stream interrupted (client disconnected).
To resume the stream, run:

  openai api fine_tunes.follow -i ft-4JQecVCnUFN2jnmVe4pAjHbq

In [ ]:
# If the event stream is interrupted for any reason, you can resume it by running
!openai api fine_tunes.follow -i ft-4JQecVCnUFN2jnmVe4pAjHbq

[2023-04-03 16:35:37] Created fine-tune: ft-4JQecVCnUFN2jnmVe4pAjHbq
[2023-04-03 16:42:02] Fine-tune costs $0.52
[2023-04-03 16:42:03] Fine-tune enqueued
[2023-04-03 16:59:36] Fine-tune is in the queue. Queue number: 31
[2023-04-03 17:01:18] Fine-tune is in the queue. Queue number: 30
[2023-04-03 17:01:53] Fine-tune is in the queue. Queue number: 29
[2023-04-03 17:02:14] Fine-tune is in the queue. Queue number: 28
[2023-04-03 17:03:35] Fine-tune is in the queue. Queue number: 27
[2023-04-03 17:04:19] Fine-tune is in the queue. Queue number: 26
[2023-04-03 17:04:43] Fine-tune is in the queue. Queue number: 25
[2023-04-03 17:06:55] Fine-tune is in the queue. Queue number: 24
[2023-04-03 17:07:20] Fine-tune is in the queue. Queue number: 23
[2023-04-03 17:10:30] Fine-tune is in the queue. Queue number: 22
[2023-04-03 17:12:48] Fine-tune is in the queue. Queue number: 21
[2023-04-03 17:14:31] Fine-tune is in the queue. Queue number: 20
[2023-04-03 17:19:43] Fine-tune is in the queue. Queue number: 19
[2023-04-03 17:21:48] Fine-tune is in the queue. Queue number: 18
[2023-04-03 17:22:25] Fine-tune is in the queue. Queue number: 17
[2023-04-03 17:25:22] Fine-tune is in the queue. Queue number: 16
[2023-04-03 17:29:23] Fine-tune is in the queue. Queue number: 15
[2023-04-03 17:31:41] Fine-tune is in the queue. Queue number: 14
[2023-04-03 17:32:49] Fine-tune is in the queue. Queue number: 13
[2023-04-03 17:34:40] Fine-tune is in the queue. Queue number: 12
[2023-04-03 17:37:34] Fine-tune is in the queue. Queue number: 11
[2023-04-03 17:37:50] Fine-tune is in the queue. Queue number: 10
[2023-04-03 17:38:08] Fine-tune is in the queue. Queue number: 9
[2023-04-03 17:40:39] Fine-tune is in the queue. Queue number: 8
[2023-04-03 17:40:58] Fine-tune is in the queue. Queue number: 7
[2023-04-03 17:41:00] Fine-tune is in the queue. Queue number: 6
[2023-04-03 17:43:59] Fine-tune is in the queue. Queue number: 5
[2023-04-03 17:48:41] Fine-tune is in the queue. Queue number: 4
[2023-04-03 17:49:46] Fine-tune is in the queue. Queue number: 3
[2023-04-03 17:50:53] Fine-tune is in the queue. Queue number: 2
[2023-04-03 17:51:23] Fine-tune is in the queue. Queue number: 1
[2023-04-03 17:52:38] Fine-tune is in the queue. Queue number: 0
[2023-04-03 17:52:48] Fine-tune started
[2023-04-03 17:55:31] Completed epoch 1/4
[2023-04-03 17:56:26] Completed epoch 2/4
[2023-04-03 17:57:22] Completed epoch 3/4
[2023-04-03 17:58:17] Completed epoch 4/4
[2023-04-03 17:58:56] Uploaded model: davinci:ft-aisemble-2023-04-03-17-58-55
[2023-04-03 17:58:57] Uploaded result file: file-c7JLzeE4f2qm3XtT6egQpTTh
[2023-04-03 17:58:57] Fine-tune succeeded

Job complete! Status: succeeded üéâ
Try out your fine-tuned model:

openai api completions.create -m davinci:ft-aisemble-2023-04-03-17-58-55 -p <YOUR_PROMPT>

In [ ]:
# prompt = "Do we have london flight on Monday\n\nIntent:\n\n"
# prompt = "what is the ap57 restriction\n\nIntent:\n\n"
prompt = "show me ground transportation in baltimore\n\nIntent:\n\n"

In [ ]:
import openai
openai.api_key =''
response = openai.Completion.create(
  model="davinci:ft-aisemble-2023-04-03-17-58-55",
  prompt=prompt,
  max_tokens=5,
  temperature=0,
  top_p=1,
  frequency_penalty=0,
  presence_penalty=0,
  stop=[" END"]
)
print(response['choices'][0]['text'])

 ground_service